<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Sentiment Analysis using NLP API</h1>
            <div style="padding: 25px 25px 25px 25px;">
                <h2 class="mb-3">
                    <label class="form-label">Please enter the text to be analyzed</label>
                    <input type="textarea" class="form-control" id="textToAnalyze">
                </h2>

                <div>
                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
                </div>
                <div></div>
                <br>
                <h2 class="mb-3">
                    <label class="form-label">Result of Sentiment Analysis (result will take a few seconds to process)</label>
                </h2>

                <div id="system_response" style="padding: 25px 25px 25px 25px;"></div>
            </div>
        </div>
</body>